.b-button {
  transition: all 0.3s;
  border: none;
  border-radius: 0.75rem;
  padding: 1rem 1.75rem;
  font-size: 1rem;
  color: theme(colors.slate.800);
  font-weight: 500;
}

.b-button:hover {
  transition: all 0.3s;
  background-color: theme(colors.slate.100);
  color: theme(colors.slate.600);
}

.b-container {
  padding-left: theme(padding.8);
  padding-right: theme(padding.8);
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
}

@media (min-width: 640px) {
  .b-container {
    padding-left: theme(padding.24);
    padding-right: theme(padding.24);
  }
}

/* 定义呼吸效果的动画 */
@keyframes breathe {
  0%,
  100% {
    transform: scale(1); /* 正常大小 */
    opacity: 1; /* 完全不透明 */
  }
  50% {
    transform: scale(1.05); /* 放大到1.2倍 */
    opacity: 0.7; /* 稍微透明 */
  }
}

/* 应用动画到元素 */
.b-animate-breath {
  animation: breathe 3s ease-in-out infinite; /* 动画持续3秒，无限循环 */
}
