@import './base.css';
@import './bcomponents.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css';
@import '//at.alicdn.com/t/c/font_4796603_mlb4mdukmlh.css';

.continer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.routerLink {
  color: theme('colors.slate.800') !important;
  @media (prefers-color-scheme: dark) {
    color: theme('colors.slate.100') !important;
  }
  font-weight: 500;
  margin-left: theme(margin.2);
  margin-right: theme(margin.2);
}

.routerLinkActive {
  color: theme('colors.blue.500') !important;
  @media (prefers-color-scheme: dark) {
    color: theme('colors.blue.400') !important;
  }
  font-weight: 500;
}
